<!DOCTYPE html>
<html lang="en">

<head>
  <title>Pedidos</title>
  <meta charset="UTF-8" />
  <style>
    /* Estilo general */
    body {
      background-color: #cbcbc4;
      text-align: center;
      font-family: Arial, sans-serif;
    }

    /* Estilo para el encabezado */
    h1 {
      margin-top: 50px;
      font-size: 30px;
      color: #67412a;
      /* Color marrón */
    }

    /* Estilo para el formulario */
    form {
      width: 50%;
      margin: 20px auto;
      padding: 20px;
      border: 1px solid #ddd;
      border-radius: 5px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }

    /* Estilo para las etiquetas */
    label {
      display: block;
      margin-bottom: 5px;
      font-weight: bold;
    }

    /* Estilo para los campos de entrada */
    input[type="text"],
    input[type="number"],
    textarea {
      width: 100%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
      margin-bottom: 10px;
      font-size: 16px;
    }

    /* Estilo para el área de texto */
    textarea {
      height: 100px;
      resize: vertical;
    }

    /* Estilo para el botón de envío */
    button[type="submit"] {
      background-color: #008cba;
      color: white;
      padding: 12px 20px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      transition: background-color 0.3s;
    }

    button[type="submit"]:hover {
      background-color: #006cc7;
    }
  </style>
</head>

<body>
  <center>
    <h1 style="color: brown ;">CREAR PEDIDOS</h1><br>
    <form action="/crear_pedido" method="post">

      <label for="id_pedido">ID Pedido:</label>
      <input type="text" id="id_pedido" name="id_pedido" required><br>

      <label for="comprador">Comprador:</label>
      <input type="text" id="comprador" name="comprador" required><br>

      <label for="valor">Valor del Pedido:</label>
      <input type="number" id="valor" name="valor" required><br>

      <label for="articulo">Artículo:</label>
      <input type="text" id="articulo" name="articulo" required><br>

      <label for="cantidad">Cantidad:</label>
      <input type="number" id="cantidad" name="cantidad" required oninput="calculatetotal()"><br>

      <label for="descripcion">Descripción del Pedido:</label>
      <textarea id="descripcion" name="descripcion" rows="4" cols="50" required></textarea><br>

      <label for="total">Total $ :</label>
      <input type="number" id="total" name="total" readonly><br>




      <button type="submit">Crear Pedido</button>

    </form>

    <p id="responseMessage"></p>

  </center>

  <script>
    function calculatetotal() {
      const valor = document.getElementById('valor').value;
      const cantidad = document.getElementById('cantidad').value;
      const total = document.getElementById('total');

      total.value = valor * cantidad;
    }
  </script>

</body>

</html>